In [1]:
import pandas as pd

In [45]:
#reading csv file
finalFraudData_df = pd.read_csv("finalFraudData.csv")

onlyFraudData_df = finalFraudData_df[finalFraudData_df.is_fraud==1]
onlyFraudData_df

,zip,city_pop,avg_income,amt,category,is_fraud,gender,dob,age,agegroup,time,timeofday
2052,28611,885,51812.9,281.06,grocery_pos,1,M,1988-09-15,34,Middle_Aged,1,Early Morning
2072,78208,1595797,35852.1,11.52,gas_transport,1,F,1960-10-28,61,Older_Adult,1,Early Morning
2117,78208,1595797,35852.1,276.31,grocery_pos,1,F,1960-10-28,61,Older_Adult,3,Early Morning
2135,28611,885,51812.9,7.03,gas_transport,1,M,1988-09-15,34,Middle_Aged,3,Early Morning
2140,78208,1595797,35852.1,275.73,grocery_pos,1,F,1960-10-28,61,Older_Adult,3,Early Morning
...,...,...,...,...,...,...,...,...,...,...,...,...
1074817,32960,105638,57063.2,9.18,misc_pos,1,F,1986-05-07,36,Middle_Aged,0,Early Morning
1074884,32960,105638,57063.2,977.01,shopping_net,1,F,1986-05-07,36,Middle_Aged,1,Early Morning
1074956,32960,105638,57063.2,1210.91,shopping_net,1,F,1986-05-07,36,Middle_Aged,1,Early Morning
1074989,70726,71335,59500.0,10.24,gas_transport,1,M,1994-05-31,28,Young_Adult,2,Early Morning
1075154,70726,71335,59500.0,10.20,gas_transport,1,M,1994-05-31,28,Young_Adult,3,Early Morning

In [71]:
#  1. Get the fraud count based on gender
numfraud_by_gender = onlyFraudData_df.groupby(["gender"]).count()["is_fraud"]
numfraud_by_gender

gender
F    3063
M    3151
Name: is_fraud, dtype: int64

In [72]:
#  1. Get the fraud count based on zip
numfraud_by_zip = finalFraudData_df.groupby(["zip"]).count()["is_fraud"].sort_values(ascending=False)
numfraud_by_zip

zip
73754    3646
34112    3613
48088    3597
82514    3527
85173    3119
         ...
10018       7
23523       7
95688       7
37411       7
16041       7
Name: is_fraud, Length: 819, dtype: int64

In [50]:
#  1. Get the fraud count based on category
numfraud_by_category = onlyFraudData_df.groupby(["category"]).count()["is_fraud"].sort_values(ascending=False)
numfraud_by_category

category
grocery_pos       1430
shopping_net      1408
misc_net           752
shopping_pos       724
gas_transport      500
misc_pos           211
entertainment      206
kids_pets          193
personal_care      185
home               171
food_dining        131
health_fitness     108
grocery_net        100
travel              95
Name: is_fraud, dtype: int64

In [73]:
# Get the averge amount.
avgFraud_amt = onlyFraudData_df["amt"].mean()
avgFraud_amt

532.6027470228515

In [74]:
# Get the fraud count based on age
numfraud_by_ag = onlyFraudData_df.groupby(["agegroup"]).count()["is_fraud"]
numfraud_by_ag

agegroup
Middle_Aged    2039
Minor            23
Older_Adult    1772
Senior         1488
Young_Adult     892
Name: is_fraud, dtype: int64

In [75]:
# #  1. Get the fraud count based on time of day
numfraud_by_tod = onlyFraudData_df.groupby(["timeofday"]).count()["is_fraud"]
numfraud_by_tod

timeofday
Afternoon         251
Early Morning    2234
Evening           259
Morning           198
Night            3272
Name: is_fraud, dtype: int64

In [77]:
# Top 10 avg_income
top_avgIncome = onlyFraudData_df["avg_income"].unique()
for i in range (0,10):
    print(sorted(top_avgIncome, reverse=True)[i])

563934.0
466791.0
346421.0
292955.0
287199.0
265253.0
255362.0
249398.0
241960.0
232738.0

In [80]:
# Summary statistics avg_income
onlyFraudData_df["avg_income"].describe()

count      6214.000000
mean      66211.404345
std       42095.295782
min       24120.800000
25%       46956.000000
50%       54980.800000
75%       70259.800000
max      563934.000000
Name: avg_income, dtype: float64