In [36]:
import warnings
warnings.filterwarnings('ignore')

In [37]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [38]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

In [52]:
df= pd.read_csv('fraudTrain.csv')
df= df.drop(['cc_num','merchant','street'], axis='columns')
df= df.set_index('Unnamed: 0')
df.head()

,trans_date_trans_time,category,amt,first,last,gender,city,state,zip,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
Unnamed: 0,,,,,,,,,,,,,,,,,,,
0,2019-01-01 00:00:18,misc_net,4.97,Jennifer,Banks,F,Moravian Falls,NC,28654,36.0788,-81.1781,3495,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0
1,2019-01-01 00:00:44,grocery_pos,107.23,Stephanie,Gill,F,Orient,WA,99160,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0
2,2019-01-01 00:00:51,entertainment,220.11,Edward,Sanchez,M,Malad City,ID,83252,42.1808,-112.2620,4154,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0
3,2019-01-01 00:01:16,gas_transport,45.00,Jeremy,White,M,Boulder,MT,59632,46.2306,-112.1138,1939,Patent attorney,1967-01-12,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071,0
4,2019-01-01 00:03:06,misc_pos,41.96,Tyler,Garcia,M,Doe Hill,VA,24433,38.4207,-79.4629,99,Dance movement psychotherapist,1986-03-28,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459,0

In [53]:
df.dtypes

trans_date_trans_time     object
category                  object
amt                      float64
first                     object
last                      object
gender                    object
city                      object
state                     object
zip                        int64
lat                      float64
long                     float64
city_pop                   int64
job                       object
dob                       object
trans_num                 object
unix_time                  int64
merch_lat                float64
merch_long               float64
is_fraud                   int64
dtype: object

# Beggining of Model Construction

In [ ]:
import datetime as dt

now = dt.datetime.now()
for i in range(0, len(df)):
    diff = now - dt.datetime.strptime(df['dob'][i], '%Y-%m-%d')
    years = diff.days // 365
    df['dob'][i] = str(years)

df.head()

In [57]:
#Creating Buckets for dob
bins= [2022-01-01,2004-01-01,1989-01-01,1974-01-01,1959-01-01,1900-01-01]
labels= ['minor','young_adult','middle_aged','older_adult','senior']

X_train_data['AgeGroup']=pd.cut(X_train_data['dob'],bins=bins,labels=labels,right=False)
print(X_train_data)

SyntaxError: invalid token (1556594674.py, line 2)