In [1]:
# Dependencies
import numpy as np
import pandas as pd
import time

In [ ]:
pwd

In [ ]:
fraudTrain_df = pd.read_csv("./Data/fraudTrain.csv")
fraudTrain_df

In [ ]:
# read_csv function which is used to read the required CSV file
df = pd.read_csv("./Data/fraudTrain.csv")


df = df.drop(['cc_num','merchant','street', 'trans_date_trans_time','first','last','city','state','job','trans_num' ], axis='columns')
df = df.set_index('Unnamed: 0')




# display 
df.head()

In [ ]:
fraudTrain_df.dtypes

In [ ]:
# Identify incomplete rows
fraudTrain_df.count()

In [ ]:
# converting amt column to include $ sign
# fraudTrain_df['amt'] = ('$' + fraudTrain_df['amt'].astype(str))

print(fraudTrain_df.dtypes)
fraudTrain_df

In [ ]:
# Creating Age column

from datetime import datetime
from datetime import date

def age(born):
    born = datetime.strptime(born, "%Y-%m-%d").date()
    today = date.today()
    return today.year - born.year - ((today.month, 
                                      today.day) < (born.month, 
                                                    born.day))
  
fraudTrain_df['Age'] = df['dob'].apply(age)
fraudTrain_df.head()

In [ ]:
# Creating age buckets
fraudTrain_df['AgeGroup'] = pd.DataFrame({'Age':[0,18,30,50,65,110]})

bins= [0,18,30,50,65,120]
labels = ['Minor','Young_Adult','Middle_Aged','Older_Adult','Senior']
fraudTrain_df['AgeGroup'] = pd.cut(fraudTrain_df['Age'], bins=bins, labels=labels, right=False)

fraudTrain_df.head()

In [ ]:
fraudTrain_df['trans_date_trans_time'] =  pd.to_datetime(fraudTrain_df['trans_date_trans_time'])

In [ ]:
fraudTrain_df['time'] = fraudTrain_df['trans_date_trans_time'].dt.hour

In [ ]:
# Creating Time of day buckets column
fraudTrain_df['TimeOfDay'] = pd.DataFrame({'time':[0,7,12,16,20,24]})

bins= [0,7,12,16,20,24]
labels = ['Early Morning','Morning','Afternoon','Evening','Night']
fraudTrain_df['TimeOfDay'] = pd.cut(fraudTrain_df['time'], bins=bins, labels=labels, right=False)

fraudTrain_df

In [ ]:
fraudTrain_df.to_csv('./Data/cleanfraudTrain.csv')

In [2]:
Postcodes_df = pd.read_csv("./Data/Postcodes.csv")
Postcodes_df

      state  zipcode  total_pop  total_income country     avg_income
0        AK        0     345220      25354974     USA   73445.843230
1        AK    99501       7690        612242     USA   79615.344603
2        AK    99502      11860       1000685     USA   84374.789207
3        AK    99503       7510        462394     USA   61570.439414
4        AK    99504      19440       1176109     USA   60499.434156
...     ...      ...        ...           ...     ...            ...
27653    WY    83126        200         17041     USA   85205.000000
27654    WY    83127       1620        135778     USA   83813.580247
27655    WY    83128        950        119435     USA  125721.052632
27656    WY    83414        230         60700     USA  263913.043478
27657    WY    99999      15820       1376755     USA   87026.232617

[27658 rows x 6 columns]

In [3]:
Postcodes_df.dtypes

state            object
zipcode           int64
total_pop         int64
total_income      int64
country          object
avg_income      float64
dtype: object

In [4]:
# read_csv function which is used to read the required CSV file
df = pd.read_csv("./Data/Postcodes.csv")


df = df.drop(['state','total_pop','total_income', 'country'], axis='columns')
df = df.set_index('zipcode')




# display 
df.head()

           avg_income
zipcode
0        73445.843230
99501    79615.344603
99502    84374.789207
99503    61570.439414
99504    60499.434156

In [5]:
#Rounding to 2 decimal points
Postcodes_df['avg_income'].apply(lambda x: round(x,2))

0         73445.84
1         79615.34
2         84374.79
3         61570.44
4         60499.43
           ...
27653     85205.00
27654     83813.58
27655    125721.05
27656    263913.04
27657     87026.23
Name: avg_income, Length: 27658, dtype: float64

In [6]:
#Rounding to 2 decimal points
Postcodes_df['avg_income'] = Postcodes_df['avg_income'].apply(lambda x: round(x,2))

# converting avg_income column to include $ sign
# Postcodes_df['avg_income'] = Postcodes_df['avg_income'].apply(lambda x: f'${x}')


print(Postcodes_df.dtypes)
Postcodes_df

state            object
zipcode           int64
total_pop         int64
total_income      int64
country          object
avg_income      float64
dtype: object

      state  zipcode  total_pop  total_income country  avg_income
0        AK        0     345220      25354974     USA    73445.84
1        AK    99501       7690        612242     USA    79615.34
2        AK    99502      11860       1000685     USA    84374.79
3        AK    99503       7510        462394     USA    61570.44
4        AK    99504      19440       1176109     USA    60499.43
...     ...      ...        ...           ...     ...         ...
27653    WY    83126        200         17041     USA    85205.00
27654    WY    83127       1620        135778     USA    83813.58
27655    WY    83128        950        119435     USA   125721.05
27656    WY    83414        230         60700     USA   263913.04
27657    WY    99999      15820       1376755     USA    87026.23

[27658 rows x 6 columns]

In [7]:
Postcodes_df.to_csv('./Data/cleanPostcodes.csv')