In [1]:
import numpy as np
import pandas as pd
import sqlalchemy
import os
import psycopg2 as ps
from pathlib import Path
from collections import Counter

In [2]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced
from sqlalchemy import create_engine
from config import db_password

In [3]:
"postgresql://[user]:[password]@[location]:[port]/[database]"

'postgresql://[user]:[password]@[location]:[port]/[database]'

In [4]:
from config import db_password

In [5]:
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/finalproject"

In [6]:
engine = create_engine(db_string, pool_size=10, max_overflow=20)

In [7]:
df = pd.read_sql_table('mergedfrauddata', con= engine)

In [8]:
df.head()

,zip,city_pop,amt,category,is_fraud,gender,dob,age,agegroup,time,timeofday,avg_income
0,28654,3495,4.97,misc_net,0,F,1988-03-09,34,Middle_Aged,0,Early Morning,48427.56
1,99160,149,107.23,grocery_pos,0,F,1978-06-21,44,Middle_Aged,0,Early Morning,NaN
2,83252,4154,220.11,entertainment,0,M,1962-01-19,60,Older_Adult,0,Early Morning,49807.39
3,59632,1939,45.00,gas_transport,0,M,1967-01-12,55,Older_Adult,0,Early Morning,52056.04
4,24433,99,41.96,misc_pos,0,M,1986-03-28,36,Middle_Aged,0,Early Morning,NaN

In [9]:
# Cleaning
df2= df.drop(['category','dob', 'amt','time', 'timeofday'], axis=1)

In [10]:
df2.dropna(inplace=True)

In [12]:
# Converting string categories into numeric indicators
import warnings
warnings.filterwarnings('ignore')

df2.gender[df2.gender == 'M'] = 1
df2.gender[df2.gender == 'F'] = 2

df2.agegroup[df2.agegroup == 'Minor'] = 1
df2.agegroup[df2.agegroup == 'Young_Adult'] = 2
df2.agegroup[df2.agegroup == 'Middle_Aged'] = 3
df2.agegroup[df2.agegroup == 'Older_Adult'] = 4
df2.agegroup[df2.agegroup == 'Senior'] = 5

In [13]:
df2.head()

     zip  city_pop  is_fraud gender  age agegroup  avg_income
0  28654      3495         0      2   34        3    48427.56
2  83252      4154         0      1   60        4    49807.39
3  59632      1939         0      1   55        4    52056.04
5  18917      2158         0      2   61        4    65388.07
6  67851      2691         0      2   29        2    55165.00

## Logistic Regression

In [14]:
from sklearn.datasets import make_blobs
X, y = make_blobs(centers=2, random_state=5)

In [15]:
X=df2.drop(columns='is_fraud')
y = df2["is_fraud"]

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,
    y, random_state=1, stratify=y)

In [17]:
Counter(y_train)

Counter({0: 802285, 1: 4660})

In [19]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs', 
                                random_state=1)
classifier

LogisticRegression(random_state=1)

In [20]:
classifier.fit(X_train, y_train)

LogisticRegression(random_state=1)

In [24]:
predictions = classifier.predict(X_test)
pd.DataFrame({"Prediction": predictions, "Actual": y_test})

         Prediction  Actual
260827            0       0
1161050           0       0
824221            0       0
905172            0       0
703902            0       0
...             ...     ...
317205            0       0
571781            0       0
1101443           0       0
1004597           0       0
184589            0       0

[268982 rows x 2 columns]

In [25]:
# Calculating the confusion matrix
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

          Predicted 0  Predicted 1
Actual 0       267428            0
Actual 1         1554            0

In [26]:
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, predictions))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.99      1.00      0.00      1.00      0.00      0.00    267428
          1       0.00      0.00      1.00      0.00      0.00      0.00      1554

avg / total       0.99      0.99      0.01      0.99      0.00      0.00    268982

In [27]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, predictions)

0.9942226617394473

## Random Forest Classifier

In [31]:
# Resample the training data with the BalancedRandomForestClassifier
from imblearn.ensemble import BalancedRandomForestClassifier
brfcmodel = BalancedRandomForestClassifier(n_estimators =500, random_state=1)
brfcmodel.fit( X_train, y_train)

BalancedRandomForestClassifier(n_estimators=500, random_state=1)

In [32]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score
y_pred = brfcmodel.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.6648701908753212

In [33]:
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.61      0.72      0.76      0.66      0.43    267428
          1       0.01      0.72      0.61      0.02      0.66      0.44      1554

avg / total       0.99      0.61      0.72      0.75      0.66      0.43    268982

In [34]:
# List the features sorted in descending order by feature importance
sorted_features = sorted(zip(brfcmodel.feature_importances_, X.columns), reverse=True)
sorted_features

[(0.25253223888890713, 'city_pop'),
 (0.2411819092712697, 'avg_income'),
 (0.23303415676547254, 'zip'),
 (0.206569877909788, 'age'),
 (0.03785301235949443, 'agegroup'),
 (0.02882880480506825, 'gender')]